body{
background:#070707;
color:white;
font-family:Arial;
text-align:center;
margin:0;
}

.container{
margin-top:140px;
padding:20px;
}

.logo{
font-size:48px;
font-weight:bold;
}

.tag{
color:#888;
margin-bottom:30px;
}

.main{
background:white;
color:black;
padding:16px;
width:90%;
max-width:350px;
border-radius:12px;
border:none;
font-size:18px;
margin-top:10px;
}

.pair{
display:none;
margin-top:80px;
}

input{
padding:14px;
width:80%;
border-radius:10px;
border:none;
margin-top:10px;
}

select{
padding:14px;
border-radius:10px;
margin-top:10px;
}

#loading{
display:none;
margin-top:20px;
color:#aaa;
}

#codeBox{
display:none;
margin-top:20px;
background:#111;
padding:20px;
border-radius:10px;
width:280px;
margin-left:auto;
margin-right:auto;
}

#code{
font-size:26px;
color:#00ffcc;
}

.footer{
margin-top:100px;
color:#888;
}