body{
background:#000;
color:white;
font-family:Arial;
text-align:center;
margin:0;
}

.center{
margin-top:140px;
}

h1{
font-size:48px;
}

.btn{
background:white;
color:black;
padding:16px;
width:80%;
max-width:300px;
border-radius:14px;
border:none;
font-size:18px;
margin-top:20px;
}

input,select{
padding:14px;
width:80%;
max-width:300px;
border-radius:10px;
border:none;
margin-top:10px;
}

#code{
margin-top:20px;
font-size:26px;
color:#00ffcc;
}

.footer{
margin-top:100px;
color:#888;
}
